<!DOCTYPE html>
<html>
  <html lang="en">
  <head>
    <title>SDI: {% block title %} SDInstagram {% endblock %}</title>
    <link rel="icon" href="/images/logo.svg" type="image/x-icon"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <img src="/images/logo.svg" alt="logo" style="width: 15%; margin-left: 2.5rem; margin-top: 1rem"/>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          {% if user != null %}
          <ul class="nav navbar-nav">
            <li id="myRequests" class=""><a href="/friendships/requests">Friendships Requests</a></li>
         </ul>
         <ul class="nav navbar-nav">
              <li id="myFriends" class=""><a href="/friendships">My friends</a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li id="myPublications" class=""><a href="/publications">My Posts</a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li id="addPublication" class=""><a href="/publications/add">New Post</a></li>
          </ul>
         {% endif %}
          <ul class="nav navbar-nav">
            <li id="mylistUsersSocial" class=""><a href="/users/social">Social Network Users</a></li>
          </ul>
          {% if user.role == 'admin' %}
            <ul class="nav navbar-nav">
              <li id="mylistSystemUsers" class=""><a href="/users/system">System Users</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li id="mylistLogs" class=""><a href="/logs">Logs</a></li>
            </ul>
          {% endif %}

          <ul class="nav navbar-nav navbar-right">
		  			{% if user == null %}
    	      	<li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> Signup </a></li>
            	<li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
						{% endif %}
            {% if user != null %}
              <li><a id="logout" href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  <!-- Show Errors -->
    <div class="container">
        <script>
            let params = new URLSearchParams(location.search);
            let message = params.get("message");
            let messageType = params.get("messageType");
            if (message !== null && message !== "") {
                if (messageType === "") {
                    messageType = 'alert-info';
                }
            $(".container").append("<div class='alert " + messageType + "'>" + message + " </div>");
        }
        </script>

        <!-- Contenido -->
        {% block main_container %}
          <!-- Posible contenido por defecto -->
        {% endblock %}
        
    </div>
  </body>
</html>
